.dashboard-main-auth{
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    position: relative;
}

.login-box {
    width: 35vw;
    height: 70vh;
    background-color: rgba(26, 135, 202, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    border: 15px solid #ccc;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
}

.user-form h1{
    border-bottom: 1px solid transparent;
    overflow: hidden;
    margin: 10px;
    animation: textoH1 0.5s linear forwards;
    text-align: center;
}
@keyframes textoH1 {
    0%{
        width: 0;
        height: 0;
    }
    30%{
        width: 50%;
        height: 0;
    }
    50%{
        width: 95%;
        height: 0;
    }
    75%{
        width: 95%;
        height: 35px;
    }
    100%{
        width: 95%;
        height: 55px;
    }
}
@keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  /* When you change the amount of characters in the h1, you have to change 
  the with: 14ch and  steps(14, end), if there is 14 characters, put 14, 
  if there is 20 put 20 */
  .user-form h2{
    border-right: .1em solid #fff;
    width: 69%;
    text-align: center;
    margin: 2em 2em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(13, end),
                 blink-caret .5s step-end infinite alternate;
  }

.imgFondo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    filter: brightness(0.8);
}

.logo{
    width: 10rem;
    height: 10rem;
    transform: translateY(10%);
}

.user-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container, .register-container {
    color: #fff;
    width: 100vw;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    box-shadow: 10px 10px 10px #364e6f;
    padding: 25px;
}

.user-form {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-form input {
    margin: 5px 0;
    padding: 5px;
    width: 30em;
    background-color: rgba(255, 255, 255,0.5);
    color: #000;
    font-weight: bold;
    border-radius: 10px;
}
.user-form button {
    cursor: pointer;
    background-color: #0b336b; /* Twitch Purple */
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 410px;
    height: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: 0.3s;
    line-height: 10px;
}

.user-form button:hover {
    opacity: 0.8;
}

.user-form button:disabled {
    opacity: 0.3;
}

.user-form-label {
    width: 410px;
    font-weight: 500;
}

.user-form-switch-label {
    color: #2b7df0;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 10px;
}

.user-form-switch-label:hover {
    opacity: 0.8;
}

.user-form-validation-message {
    width: 400px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
